/* styles.css */ 
/* Add styles here to customize the appearance of your app */
/*主容器*/
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myTitle{
  box-shadow: 0 0 20px #cac6c6;
  width: 90%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: antiquewhite;
}
.img_div{
  box-shadow: 0 0 20px #cac6c6;
  display: flex;
  width: 90%;
  border-radius: 7px;
}

.img_input_div{
  box-shadow: 0 0 20px #cac6c6;
  overflow: scroll;
  width: 400px;
  height: 300px;
  /* border: red solid 2px; */
  margin: 5%;
  
}


.img_output_div{
  box-shadow: 0 0 20px #cac6c6;
  overflow: scroll;
  /* border: red solid 2px; */
  margin: 5%;
  width: 400px;
  height: 300px;
}